<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Subscribers Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'subscribers_tracker/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
</head>
<body>
<b>Unsubscribed</b>
<table>
    <tr>
        <td>User ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    {% for subscriber in unsubscribed %}
        <tr>
            <td><a href="https://vk.com/id{{ subscriber.id }}">{{ subscriber.id }}</a></td>
            <td>{{ subscriber.first_name }}</td>
            <td>{{ subscriber.last_name }}</td>
        </tr>
    {% endfor %}
</table>
<b>Subscribed</b>
<table>
    <tr>
        <td>User ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    {% for subscriber in subscribed %}
        <tr>
            <td><a href="https://vk.com/id{{ subscriber.id }}">{{ subscriber.id }}</a></td>
            <td>{{ subscriber.first_name }}</td>
            <td>{{ subscriber.last_name }}</td>
        </tr>
    {% endfor %}
</table>
<b>All subscribers</b>
<table>
    <tr>
        <td>User ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    {% for subscriber in all_subscribers %}
        <tr>
            <td><a href="https://vk.com/id{{ subscriber.id }}">{{ subscriber.id }}</a></td>
            <td>{{ subscriber.first_name }}</td>
            <td>{{ subscriber.last_name }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>